# Ignorar node_modules
node_modules/

# Ignorar arquivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar arquivos de ambiente (se usar)
.env

# Ignorar pastas do sistema (opcional)
.DS_Store
Thumbs.db
